/* -------Routing(App.js)-------- */

.Main {
  font-family: 'Times New Roman', Times, serif;
}

.Header {
  background: white;
  text-align: center;
}

.active {
  color: red;
}

#col-10 {
  padding: 1%;
  display: inline-block;
  color: black;
  font-size: 23px;
}