.mainTable{
    /* margin: 2% 0.5% auto; */
    text-align: left;
    display: table;
} 

.headerData{
    font-weight: bold;
}

.App{
    font-family: 'Times New Roman', Times, serif;
}

.tableData{
    width:280px;
    height:50px;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: table-cell;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    font-size: 20px;
}

.link{
    color:black;
    text-decoration-line: none;
}

  .heading {
    /* background: orange; */
    height: 80px;
  }

.search{
    display: inline-block;
    vertical-align: right;
    padding: 3px 5px;
}

.add {
    display: inline-block;
    vertical-align: right;
    padding: 3px 5px;
  }

.link:hover {
   color:darkblue
  }

span {
  content: "\002B";
  font-size: 52px;
}

.topBorder{
    border-top: 1px solid lightgrey;
}

.leftBorder{
    border-left: 1px solid lightgrey;
}

.rightBorder{
    border-right: 1px solid lightgrey;
}

.bottomBorder{
    border-bottom: 1px solid lightgrey;
}

.headingBottom{
    border-bottom: 2px solid lightgrey;
}