#left{
    margin-left:1%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    float:left; 
    border-right: 5px solid lightblue;
  }

.content{
    margin-left:1%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif; 
    float:left; 
    width: 55%;
}

.image{
  width: 400%;
}
