.App {
  text-align: center;
}

.oneline {
  width: 400px;
  height: 550px;
  border: solid 2px rgb(12, 12, 12);
  display: inline-block;
  margin: auto;
  font-size: 25px;
  margin-top:90px;
  margin-bottom: 90px; 
  
}

#footer{
  margin: 20px 20px;
  font-family: 'Times New Roman', Times, serif;
}

#regLog{
  background: black;
  text-align: center;
}

#bg{
  background-image:url(index.jpg);
  background-repeat: no-repeat;
  background-size: 1840px;
}

#col-10{
  padding: 1%;
  display: inline-block; 
  color: white;
  font-size: 25px; 
  font-family: 'Times New Roman', Times, serif;   
}

input{
  display: inline-block;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

button{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}