.wrapper{
  font-family: 'Times New Roman', Times, serif;
  border:2px black;
}
.select{
  width: 50%;
  margin-left: 25%;
  margin-right: 20%;
}
.radio{
  text-align: center;
}
.input{
  margin-left: 50px;
}
.selected-data{
  border:2px ridge;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
}
#left{
  margin-left: 10%;
  margin-top: 2%;
  float:left;
  width:30%;
  height:400px;
  border: 3px solid black;
  text-align: center;
 
}
#right{
  margin-right: 10%;
  margin-top: 2%;
  float:right;
  width:30%;
  height:400px;
  border: 3px solid black;
  text-align: center;
}

.Main{
  font-family: 'Times New Roman', Times, serif;
}